{% include "../../layout-backend.twig" %}
{% block content %}
    <div class="container-table">
        <h3 class="title">Users List</h3> {# <a href="/backend/user/create" class="btn btn-primary btn-sm btn-new">new</a> #}
        <table id="table-user" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th width="20">No</th>
                    <th width="200">First Name</th>
                    <th width="200">Username</th>
                    <th>Address</th>
                    <th width="100">Action</th>
                </tr>
            </thead>
            <tbody>
                {% set no = 0 %}
                {% for usr in user %}
                {% set no = no + 1 %}
                    <tr>
                        <td>{{ no }}</td>
                        <td>{{ usr.name|title }}</td>
                        <td>{{ usr.username }}</td>
                        <td>{{ usr.address }}</td>
                        <td>
                            <a href="/backend/user/edit/{{ usr._id }}" class="btn btn-warning btn-sm">edit</a> | 
                            <a href="/backend/user/delete/{{ usr.id }}" class="btn btn-danger btn-sm">delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
<script>
    $('.navbar-nav .nav-item').removeClass('active');
    $('#user').parent().addClass('active');

</script>